@font-face {
    font-family: Basier;
    src: url("../fonts/basier-circle-bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Basier;
    src: url("../fonts/basier-circle-medium.otf");
    font-weight: 400;
}

@font-face {
    font-family: Basier;
    src: url("../fonts/basier-circle-regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Basier;
    src: url("../fonts/basier-circle-semi-bold.otf");
    font-weight: bolder;
}